// GOOGLE FOONTS
$font-stack--google        : 'https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&family=Shippori+Mincho+B1:wght@800';
$font-family--primary      : 'Rubik',sans-serif;
$font-family--secondary    : 'Shippori Mincho B1',serif;

$font-weight--xs           : 300;
$font-weight--sm           : 400;
$font-weight--md           : 500;
$font-weight--lg           : 600;
$font-weight--xl           : 700;
$font-weight--xxl          : 800;

// COLOR PALLETS
$dark-blue                 : #184e77;
$light-blue                : #168aad;
$blue                      : #1a759f;
$traquis                   : #34a0a4;
$green                     : #76c893;
$dark-green                : #52b69a;
$light-green               : #99d98c;
$lemon-yellow              : #d9ed92;
$black                     : #000000;
$grey                      : #f0efeb;
$accent-green              : #CDF931;
$white                     : #ffffff;

// UI COLORS
$primary--color            : $green;
$secondary--color          : $dark-green;
$accent                    : $accent-green;
$yellow                    : $lemon-yellow;

// COLOR MAPS

$ui-colors : (
	default   : #34a0a4,
    info      : #b5179e,
    warning   : #f48c06,
    success   : #b5e48c,
    error     : #ffafcc,
);

$colors: (
	grey: (
		x-light : lighten($grey, 4%),
        light   : lighten($grey, 3%),
        base    : $grey,
        dark    : darken($grey, 10%),
        x-dark  : darken($grey, 38%),
    ),
    black: (
		xx-light: lighten($black, 62%),
		x-light : lighten($black, 32%),
        light   : lighten($black, 14%),
        base    : $black,
        dark    : darken($black, 10%),
    ),
    yellow: (
		x-light : lighten($yellow, 20%),
        light   : lighten($yellow, 15%),
        base    : $yellow,
        dark    : darken($yellow, 15%),
    ),
    green: (
		x-light : lighten($dark-green, 20%),
        light   : lighten($dark-green, 15%),
        base    : $dark-green,
        dark    : darken($dark-green, 15%),
    ),
	blue: (
		x-light : lighten($traquis, 52%),
        light   : lighten($traquis, 25%),
        base    : $traquis,
        dark    : darken($traquis, 15%),
    ),
    primary: (
		x-light : lighten($primary__color, 35%),
        light   : lighten($primary__color, 8%),
        base    : $primary__color,
        dark    : darken($primary__color, 12%),
    ),
    secondary: (
		x-light : lighten($light-blue, 25%),
        light   : lighten($light-blue, 8%),
        base    : $light-blue,
    ),
);

// UNITS

$base-font    : 16px;
$base--line   : 28px;
$letter-space : 1px;
$max-width    : 1200px;
$gutter       : 30px;
$transition   : 0.4s;
$br-radius    : 5px;
$br-roundy    : 50%;
$spaceamounts : (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides        : (top, bottom, left, right);


// BREAKPOINTS

$breakpoints : (
	'xxs' : 320px,
    'xs'  : 575px,
    'sm'  : 576px,
    'md'  : 768px,
    'lg'  : 1024px,
    'xl'  : 1280px,
    'xxl' : 1900px,
);