// ============================================================
//            BASE RULE
// ============================================================

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family--primary;
    color: color(black, light);
    font-size: $base-font;
    line-height: $base--line/$base-font;
    font-weight: $font-weight--xs;
    -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: color(black, light);
}

img {
    display: block;
    max-width: 100%;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}