// =====================================================================================================
// FAQs
// =====================================================================================================

#faqs {
    @extend %mt-80;
}

.faqs {
    &-question {
        background-color: color(grey, x-light);
        @extend %pd-50;
        h2 {
            @extend %center;
            margin-bottom: 30px;
        }
    }
}

.faqs-works {
    @extend %center;
    article {
        width: 100%;
        @include  mq('lg') {
            width: 60%;
            max-width: 800px;
            margin: 0 auto;
        }
    }
}