// ====================================================================
// HOME-[ABOUT US]
// ====================================================================

#about {
    @extend %mt-80;
}

.about {
    article {
        padding-right: em(25px);
        width: 100%;
        position: relative;
        @include mq('lg') {
            width: 85%;
        }
    }
}

// ====================================================================
// HOME-[WORK]
// ====================================================================

#work {
    h3 {
        margin-top: 12px;
    }
}


// ====================================================================
// HOME-[SERVICES]
// ====================================================================

#services {
    @extend %mt-80;
    position: relative;
    .thumbnail {
        height: 450px;
        max-width: initial;
        @include mq('md') {
            height: 535px;
        }
        @include mq('lg') {
            height: 665px;
        }
        @include mq('xl') {
            height: initial;
            max-width: 100%;
        }
    }
}

.services {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(195deg, rgba($black, 0.65), rgba(black, 0.55), rgba($orange, 0.48));
    filter: saturate(2.2);

    @include e('items') {
        color: $white;
        @extend %pd-50;
        @include mq('xl') {
            padding-top: 115px;
        }
        @include mq('xxl') {
            padding-top: 275px;
        }
        .btn--line {
            font-size: em(17px);
            font-weight: 400;
            line-height: 19px;
            padding: 8px 0px;
            color: color(yellow);
            transition: color $transition ease-out;
            &:hover {
                color: color(primary);
            }
        }
    }

    @include e('slider') {
        margin-top: 22px;
        @include mq('lg') {
            margin-top: 0px;
        }
    }
    .swiper-container {
        position: initial;
        .swiper-pagination {
            bottom: 10px;
            @include mq('md') {
                bottom: 65px;
            }
            @include mq('lg') {
                bottom: 110px;
            }
            @include mq('xxl') {
                bottom: 280px;
            }
        }
    }
    @include e('more') {
        position: absolute;
        bottom: -44px;
        left: 50%;
        transform: translateX(-50%);
        @include mq('md') {
            bottom: 8px;
        }
        @include mq('lg') {
            bottom: 40px;
        }
        @include mq('xxl') {
            bottom: 140px;
        }
    }
}

// ====================================================================
// HOME-[DEVELOPMENT]
// ====================================================================

#development {
    @extend %mt-80;
    h3 {
        font-size: em(16px);
        margin-bottom: 6px;
        font-weight: $font-weight--sm;
    }
}

.development {
    .dev-heading {
        @extend %center;
        margin-bottom: 50px;
    }
    .dev-col {
        @include flexy();
    }
    .dev-card {
        border: 1px solid color(grey);
        padding: 20px 12px;
        border-radius: $br-radius;
        @include flexy($align: center);
        flex: 1;
        .inr-image {
            border-right: 1px solid color(grey);
        }
        .row {
            flex: 1;
            @include flexy($align: center);
        }
    }
}

// ====================================================================
// HOME-[TECHNOLOGY]
// ====================================================================

#technology {
    @extend %mt-80;
    .tech-heading {
        @extend %center;
        margin-bottom: 8px;
    }
}

.technology {
    .br-border {
        border-bottom: 1px dotted color(grey);
        padding: 30px 0px;
        align-items: center;
    }
}

// ====================================================================
// HOME-[TESTIMONIALS]
// ====================================================================

#testimonials {
    position: relative;
    .tes-thumbnail {
        width: 100%;
        height: 565px;
        object-fit: cover;
        @include mq('xl') {
            height: initial;
        }
    }
}

.testimonials {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(195deg, rgba($black, 0.65), rgba(black, 0.55), rgba($orange, 0.48));
    filter: saturate(2.2);

    @include e('items') {
        padding-top: 80px;
        @include mq('xxl') {
            padding-top: 155px;
        }
        color: $white;
        .main-heading {
            h1 {
                color: $white;
            }
        }
    }

    &-content {
        position: relative;
    }

    &--item {
        position: relative;
        z-index: 9;
        width: 100%;
        margin: auto;
        padding: 35px 25px 25px;
        border-radius: $br-radius;
        @extend %center;
        margin-top: 80px;
        @include mq('lg') {
            width: 600px;
        }
        .avatar {
            width: 90px;
            height: 90px;
            border-radius: $br-roundy;
            object-fit: cover;
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 5px;
        }

        h3 {
            font-size: em(17px);
            line-height: em(17px, 17px);
            font-weight: $font-weight--md;
            letter-spacing: $letter-space;
            text-transform: capitalize;
            margin-top: em(15px, 17px);
        }

        span {
            font-size: em(14px);
            letter-spacing: $letter-space;
            text-transform: capitalize;
            display: block;
        }

        p {
            font-size: em(15px);
            font-weight: $font-weight--xs;
            line-height: em(27px, 15px);
            margin-bottom: em(20px, 15px);
            padding-bottom: 40px;
            position: relative;
            @include p-el($el: 'after', $el-width: 50px, $el-height: 50px) {
                content: '\f10e';
                font-family: FontAwesome;
                bottom: -30px;
                font-size: em(38px);
                color: color(yellow);
            }
        }
    }
}

// ====================================================================
// HOME-[PARTNERS]
// ====================================================================

#partner  {
    @extend %mt-80;
    @extend %pd-30;
    .dev-heading {
        @include mq('xs') {
            margin-bottom: 22px;
        }
    }
    img {
        filter: grayscale(100%);
        opacity: 0.45;
        transition: opacity $transition ease-in, filter $transition ease-in;
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
    .dev-heading {
        margin-bottom: 50px;
        @extend %center;
    }
}