// ==========================================================================================
//  UX/UI DESIGN CODE
// ==========================================================================================

#ux {
    @extend %mt-80;
}

.ux {
    @include e('content') {
        @extend %mt-80;
        @include  m('heading') {
            @extend %center;
            @include  mq('xl') {
                width: 70%;
                max-width: 800px;
                margin:  0 auto;
            }
        }
        @include  m('process') {
            @extend %mt-50;

        }
        @include m('items') {
            @extend %pd-20;
            img {
                width: 42px;
            }
        } 
    }
    @include e('image') {
        img {
            margin: 0 auto;
        }
    }

    @include e('howto') {
        @extend %pd-50;
        ul {
            margin-top: 30px;
            li {
                position: relative;
                padding: 10px 52px;
                @extend %tick-icon;
            }
        }
    }

    @include  e('ui') {
        @extend %pd-50;
        ul {
            margin-top: 30px;
            li {
                position: relative;
                padding: 10px 52px;
                @extend %tick-icon;
            }
        }
    }
}