// ==============================================================================================
// WEB DESIGNING
// ==============================================================================================

#webs {
    @extend %mt-80;
}

.webs {
    @include e('whatbuild') {
        @include  m('heading') {
            @extend %center;
            @include  mq('xl') {
                width: 70%;
                max-width: 800px;
                margin:  80px auto;
            }
        }
    }
}