// ============================================================================
// WEB APPLICATION
// ============================================================================

.lcf {
    &-dev {
        h2 {
            font-size: em(26px);
            line-height: (36px/26px);
            margin-bottom: 12px;
            span {
                color: color(primary);
            }
        }
    }
}

.dlp {
    &-srv-icon {
        text-align: center;
        span {
            font-size: em(42px);
            line-height: (50px/42px);
            color: color(primary);
        }
    }
}