// ======================================================================
//                     ACCORDIAN
// ======================================================================

.accordian {
    width: 100%;
    padding: 0 15px;
}

.panel {
    max-height: 0;
    overflow: hidden;
    border-bottom: 1px solid color(blue, light);
    transition: max-height 0.2s ease-out;

    p {
        padding: 15px 5px;
    }
}

#tab-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 15px 0px 15px;
    font-size: em(16px);
    font-weight: $font-weight--md;
    color: color(black, x-light);
    text-align: left;
    width: 100%;
    position: relative;
    @include p-el($el: 'after', $el-width: 15px, $el-height: 15px) {
        top: -2px;
        right: 18px;
        content: '\f107';
        font-family: FontAwesome;
        transition: transform 0.3s ease-in;
        color: color(blue, light);
        font-size: em(21px);
    }
}

#tab-button.active {
    @include p-el($el: 'after', $el-width: 15px, $el-height: 15px) {
        content: '\f106';
    }
}