// ==========================================================
//                   BUTTON RULE
// ==========================================================

%btn {
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
    padding: 7px 21px;
    font-size: em(14px);
    line-height: (24px/14px);
    font-weight: $font-weight--md;
    margin-top: em(30px, 14px);
    letter-spacing: $letter-space;
    text-transform: uppercase;
    border-radius: em(30px, 14px);
    background-color: transparent;
    color: $white;
}

.btn {
    @extend %btn;
    &--primary {
        background: linear-gradient(165deg, color(primary), color(secondary));
        color: $white;
        transition: background-color $transition ease-out;
        &:hover {
            background-color: color(secondary, dark);
        }
    }
    &--secondary {
        color: color(black);
        border: 1px solid color(black);
        transition: background-color $transition ease-out, color $transition ease-in;
        &:hover {
            background-color: color(black);
            color: $white;
        }
    }
    @include bg-colors($ui-colors );
}