// ================================================================================
//  [SIMPLE CARD]
// ================================================================================

// EQUAL CARD HEIGHT
.flex-height {
    @include flexy();
}

.card {
    @include flexy($dir: column);
    flex: 1;
    border-radius: $br-radius;
    border: 1px dotted color(green, x-light);
    @include e('content') {
        padding: 15px;
        h3 {
            font-size: em(16px);
            line-height: (22px/16px);
        }

        p {
            font-size: em(15px);
        }
    }
}
