// ================================================================================
//  [SIMPLE CARD]
// ================================================================================

.card {
    border-radius: $br-radius;
    border: 1px dotted color(green, x-light);
    @include e('content') {
        padding: 15px;
    }
}