// ================================================================================
//  [SIMPLE CARD]
// ================================================================================

// EQUAL CARD HEIGHT
.flex-height {
    @include flexy();
}

.card {
    @include flexy($dir: column);
    flex: 1;
    border-radius: $br-radius;
    border: 1px dotted color(grey);
    @include e('content') {
        padding: 15px;
        h3 {
            font-size: em(18px);
            line-height: (25px/18px);
            margin-top: 12px;
        }
    }
}
