// =======================================================================
// CAROUSEL
// =======================================================================

.swiper-pagination-bullet {
    background: color(yellow, dark);
}
.swiper-button-prev, 
.swiper-button-next {
    background-color: color(blue);
    color: color(yellow);
    border-radius: $br-radius;
    padding: 0 18px;
}
.swiper-button-prev:after, 
.swiper-button-next:after {
    font-size: em(21px);
}
.swiper-button-next {
    right: -6px;
}
.swiper-button-prev {
    left: -6px;
}