// =======================================================================
// CAROUSEL
// =======================================================================

.swiper-pagination-bullet {
    background: color(yellow);
}

.swiper-button-prev, 
.swiper-button-next {
    background-color: $white;
    color: color(primary);
    border-radius: $br-radius;
    padding: 0 18px;
    box-shadow: 0 0 5px rgba($black, 0.09);
}

.swiper-button-prev:after, 
.swiper-button-next:after {
    font-size: em(21px);
}

.swiper-button-next {
    right: -6px;
}

.swiper-button-prev {
    left: -6px;
}