// ======================================================================================
//                 SITE MAIN HEADLINE
// ========================================================================================

.main-heading {
    @extend %center;
    margin-bottom: 50px;
    @include mq('md') {
        width: 80%;
        margin: 0 auto em(50px);
    }
    @include mq('lg') {
        width: 62%;
    }
    @include mq('xl') {
        width: 47%;
    }
    h2 {
        font-size: em(24px);
        line-height: em(30px, 24px);
        font-weight: $font-weight--lg;
        @include mq('lg') {
            font-size: em(32px);
            line-height: em(33px, 32px);
        }
    }
    p {
        font-size: em(14px);
        line-height: em(25px, 14px);
        font-weight: $font-weight--sm;
        letter-spacing: $letter-space;
        @include mq('lg') {
            font-size: em(17px);
            line-height: em(28px, 17px);
        }
    
    }
}

.bg-heading {
    font-size: em(16px);
    font-weight: $font-weight--xl;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: color(primary);
    padding-right: 12px;
    @extend %top;
    @include p-el($el: after, $el-width: 60px, $el-height: 2px) {
        top: 11px;
        margin-left: 10px;
        background-color: color(grey);
    }
}

// ========================================================================================
//         PRIMARY HEADLINE [PRIMARY]
// ========================================================================================

.prim-heading {
    font-size: em(28px);
    line-height: em(38px, 28px);
    color: color(black, light);
    letter-spacing: $letter-space;
    font-weight: $font-weight--lg;
    text-transform: capitalize;
    @include mq('lg') {
        font-size: em(32px);
        line-height: em(42px, 32px);
    }
}

// ========================================================================================
//         SECONDARY HEADLINE [PRIMARY SMALL]
// ========================================================================================

.sec-heading {
    font-size: em(31px);
    line-height: em(38px, 31px);
    color: color(black, light);
    letter-spacing: $letter-space;
    font-weight: $font-weight--xs;
    text-transform: capitalize;
    margin-bottom: em(20px, 31px);
    @extend %top;
    @include mq('lg') {
        font-size: em(34px);
        line-height: em(52px, 34px);
    }
}

// ========================================================================================
//         ACCENTS FONT [PRIMARY SMALL]
// ========================================================================================

.text-accent {
    font-size: em(16px);
    line-height: (30px/15px);
    font-weight: $font-weight--sm;
    @include mq('xl') {
        font-size: em(21px);
        line-height: (32px/21px);
    } 
    @include mq('xxl') {
        font-size: em(25px);
        line-height: (34px/25px);
    }
}

// ========================================================================================
//         SERVICES [PRIMARY SMALL]
// ========================================================================================

%srv-heading {
    h2 {
        font-size: em(24px);
        line-height: em(30px, 24px);
        font-weight: $font-weight--lg;
        @include mq('lg') {
            font-size: em(28px);
            line-height: (42px/28px);
            margin-bottom: em(12px, 28px);
       }
    }
}