// ======================================================================================
//                 SITE MAIN HEADLINE
// ========================================================================================

.main-heading {
    text-align: center;
    @include mq('md') {
        width: 80%;
        margin: 0 auto em(50px);
    }
    @include mq('lg') {
        width: 62%;
    }
    @include mq('xl') {
        width: 47%;
    }
    h1 {
        font-size: em(32px);
        line-height: em(33px, 32px);
        font-weight: $font-weight--xl;
        @include mq('lg') {
            font-size: em(34px);
            line-height: em(42px, 34px);
        }
    }
    p {
        font-size: em(14px);
        line-height: em(25px, 14px);
        font-weight: $font-weight--sm;
        letter-spacing: $letter-space;
        @include mq('lg') {
            font-size: em(17px);
            line-height: em(28px, 17px);
        }
    
    }
}

.dev-heading {
    text-align: center;
    @include mq('md') {
        width: 80%;
        max-width: 900px;
        margin: 0 auto em(50px);
    }
    @include mq('lg') {
        width: 75%;
    }
    @include mq('xl') {
        width: 80%;
    }
    h1 {
        font-size: em(32px);
        line-height: em(42px, 32px);
        font-weight: $font-weight--xl;
        margin-bottom: 15px;
    }
    p {
        font-size: em(14px);
        line-height: em(25px, 14px);
        font-weight: $font-weight--sm;
        letter-spacing: $letter-space;
        @include mq('lg') {
            font-size: em(16px);
            line-height: em(28px, 16px);
        }
    }
}

// ========================================================================================
//                 SITE SUB HEADLINE 
//========================================================================================

.sub-heading {
    h1 {
        font-size: em(32px);
        font-weight: $font-weight--md;
        line-height: em(40px, 32px);
        margin-bottom: em(20px, 32px);
        @extend %top;

        @include mq('lg') {
            font-size: em(52px);
            line-height: em(56px, 52px);
            margin-bottom: em(20px, 52px);
        }
    }

    p {
        margin-bottom: 20px;
    }
}


// ========================================================================================
//                 PRIMARY HEADING [SMALL]
// ========================================================================================

.primary-heading {
    font-size: em(16px);
    font-weight: $font-weight--xl;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: color(primary);
    padding-right: 12px;
    position: relative;
    @include p-el($el: after, $el-width: 60px, $el-height: 2px) {
        top: 11px;
        margin-left: 10px;
        background-color: color(primary);
    }
}

// ========================================================================================
//         SECONDARY HEADLINE [PRIMARY SMALL]
// ========================================================================================

.secondary-heading {
    font-size: em(28px);
    line-height: em(38px, 28px);
    color: color(black, light);
    letter-spacing: $letter-space;
    font-weight: $font-weight--sm;
    text-transform: capitalize;
    @include mq('lg') {
        font-size: em(32px);
        line-height: em(42px, 32px);
    }
}

// ========================================================================================
//                SMALL HEADING
// ========================================================================================

.small-heading {
    font-size: em(21px);
    font-weight: $font-weight--sm;
    margin-bottom: em(15px, 32px);
    position: relative;

    @include p-el($el: 'after', $el-width: 35px, $el-height: 2px) {
        background-color: color(primary);
        display: block;
    }
}

.small-text-accent {
    font-size: em(18px);
    font-weight: $font-weight--xs;
}


// ========================================================================================
//                 PARAGRAPH ACCENT
// ========================================================================================

.text-accent--black {
    font-size: em(17px);
    line-height: em(28px, 17px);
    font-weight: $font-weight--xs;
    color: color(black, light);
    margin-top: 5px;
    @include mq('md') {
        font-size: em(17px);
        line-height: em(33px, 17px);
    } 
}

.text-accent--white {
    font-size: em(17px);
    line-height: em(28px, 17px);
    font-weight: $font-weight--xs;
    color: $white;
    letter-spacing: $letter-space;
    position: relative;
    @extend %top;

    @include mq('md') {
        font-size: em(21px);
        line-height: em(33px, 21px);
    } 
}

%srv-heading {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 50px;
    text-align: center;
    h2 {
        font-size: em(28px);
        line-height: (38px/28px);
        margin-bottom: em(12px, 28px);
    }
    p {
        font-size: em(17px);
    }
    span {
        color: color(primary);
    }
}