// ============================================================
//                    MENUS / NAV
// ============================================================

%menus {
    position: absolute;
    background: color(black);
    padding: em(15px);
    width: 100%;
    z-index: 9;
    display: none;
    animation: rotateY $transition ease-in-out;
    li {
        display: block;
        a {
            padding: 0px;
            font-size: em(15px);
            line-height: (30px/15px);
            font-weight: $font-weight--xs;
        }
    }
}

%menu-icon {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    top: 9px;
    right: -2px;
    font-size: em(20px);
    color: color(primary, light);
    transition: transform $transition ease-in-out;
}

// ============================================================
//               CREATING TRING  || SPAN
// ============================================================

%node--top {
    position: absolute;
    top: 57px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid color(primary, light);
}

// =======================================================================================
//                 NAV HEADING
// ======================================================================================== 

%nav-heading {
    font-size: em(16px);
    font-weight: $font-weight--md;
    line-height: (24px/16px);
    margin-bottom: 5px;
    color: color(primary, light)
}

// =======================================================================================
//                 ALIGN ITEMS CENTER
// ========================================================================================

.align-center {
    @include flexy($dir: column, $just: center);
}

// =======================================================================================
//                 CENTER TEXT
// ========================================================================================

%center {
    text-align: center;
}

%auto {
    margin: 0 auto;
}

// =======================================================================================
//                 MARGIN AUTO
// ========================================================================================

%margin-auto {
    @include  mq('lg') {
        width: 800px;
        margin: 0 auto 50px;
    }
}